
<!-- Toolbar -->
<div class="row justify-content-around" role="banner" style="text-align: center; margin-top: 2%;">
  <br>
  <div class="col-4">
    <img src="../assets/angular.png" class="rounded" alt="...">
  </div>
  <div class="col-4" style = "margin-top: 5%;">
    <h1>Bienvenido a la aplicación</h1>
  </div>
  <div class="col-4">
    <img src="../assets/springboot.png" class="rounded" alt="...">
  </div>

  <br>
</div>
<br>
<app-usuarios></app-usuarios>
<br>
<div class="mx-auto" style="width: 500px;">
  <blockquote class="blockquote text-center">
    <p class="mb-0">Desarrollador: Arce Gudiño Antonio</p>
  </blockquote>
</div>